---
layout: default
---
{% if site.hero == true %}
	{% include hero.html %}
{% endif %}

<div class="container">
	<div class="row">
		<div class="col col-12">
			<div class="home-section-head wow fadeInUp">
				<h2 class="home-section-title">Latest writing</h2>
				<a class="home-section-link" href="{{ '/blog/' | relative_url }}">All posts &rarr;</a>
			</div>
		</div>
	</div>
	<div class="row">
		{% for post in site.posts limit: 6 %}
			{% include article-content.html %}
		{% endfor %}
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-12">
			<div class="home-section-head wow fadeInUp">
				<h2 class="home-section-title">Selected projects</h2>
				<a class="home-section-link" href="{{ '/projects/' | relative_url }}">All projects &rarr;</a>
			</div>
		</div>
	</div>
	<div class="row">
		{% assign recent_projects = site.projects | sort: 'date' | reverse %}
		{% for post in recent_projects limit: 2 %}
			{% include article-content.html %}
		{% endfor %}
	</div>
</div>
